
<div class="ratoong-destination-block">
  <div class="row">
    <table class="table table-striped">
      <thead>
      <tr>
        <th scope="col" sortable="name" (sort)="onSort($event)">Question</th>
        <th scope="col" sortable="cityName" (sort)="onSort($event)">Total Rated</th>
        <th scope="col" sortable="countryName"  (sort)="onSort($event)">Average</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td scope="row" class="simple-table-text">Offpiste</td>
        <td> 200 </td>
        <td> 3.4 </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>

