<header>
<app-navbar></app-navbar>
</header>
<div class="bg-image-search"></div>
<div class="loader" *ngIf="isLoading"></div>
  <div style="height: 100%" class="col-md-10 offset-md-1">
  <div class="main details-container" *ngIf="!isLoading">
  <div class="form-group form-inline">
    Find resort: <input #searchField class="form-control ml-2" type="text" name="searchTerm" (keyup)="updateFilter(searchField.value)"/>
  </div>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col" (click)="onSort('id')"><span style="cursor: pointer">#</span></th>
      <th scope="col" (click)="onSort('name')"><span style="cursor: pointer">Name</span></th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let resort of resortsPage;" [routerLink]="['/admin/resortDetails']" (click)="selectResort(resort.id)">
      <td style="width: 20%">{{ resort.id}}</td>
      <td style="width: 80%">{{resort.name}}</td>
    </tr>
    </tbody>
  </table>
  <div class="d-flex flex-column justify-content-between p-2">
    <select class="custom-select" style="margin-bottom: 15px; width: auto" [(ngModel)]="pageSize" (ngModelChange)="refreshResorts()">
      <option [ngValue]="2">2 items per page</option>
      <option [ngValue]="4">4 items per page</option>
      <option [ngValue]="6">6 items per page</option>
    </select>

    <ngb-pagination [collectionSize]="resorts.length" [maxSize]="5" [rotate]="true" [ellipses]="false" [boundaryLinks]="true" [(page)]="page" [pageSize]="pageSize" (pageChange)="refreshResorts()">
    </ngb-pagination>
  </div>

  </div>
  </div>
<footer class="footer bg-dark fixed-bottom">
  <app-footer></app-footer>
</footer>
