@import "./src/styles";

.bg-image-search {
  background: url('https://firebasestorage.googleapis.com/v0/b/ratoong-333eb.appspot.com/o/service-images%2Fbackgrounds%2Fbg-rate.jpg?alt=media&token=0e1cc065-aa83-4103-9aa3-11c32c823092') no-repeat;
  background-size: cover;
  min-height: 100vh;
  min-width: 100%;
  position: fixed;
  z-index: -1 ;
  @include media-portrait-down(lg) {
    background: url('https://firebasestorage.googleapis.com/v0/b/ratoong-333eb.appspot.com/o/service-images%2Fbackgrounds%2Fbg-m-rate.jpg?alt=media&token=96baae81-77aa-413e-a94c-d23bb4b99340') no-repeat;
    background-size: cover
  }
}

.details-container {
  font-family: "Oswald";
  font-weight: 500 ;
  margin: 50px;
  padding: 2em 4em;
  border: 1px solid $color-light-gray-83;
  background-color: rgba(255, 255, 255, 0.8);
}

.dropdown-list{
  position: relative;
}

.flex-container{
  display: flex;
  flex-flow: column;
}

.inner-card{
  display: flex;
  flex-flow: column;
}

[type='radio'] {
  display: none;
}

.card-body{
  padding: 10px 0 !important;
}

.form-group{
  width: 100%;
  max-width: 200px;
  margin: 20px 0 5px 15px;
}

.important-search{
  display: flex;
  flex-flow: column;
}

.optional-search{
  display: flex;
  flex-flow: column;
}

.accordion > .card > .card-header {
  padding: 0 !important;
}

.display-name{
  display: flex;
  margin-bottom: 10px;
  font-size: 1.2rem;
}

.important-text{
  color: red;
  font-weight: 400;
  margin-left: 5px;
}

.form-group{
  max-width: max-content !important;
}

.added-margin{
  position: relative;
  color: $color-ratoong-blue-43;
  border: 1px solid $color-ratoong-blue-43;
  font-weight: 300;
  background: none;
  cursor: pointer;
  transition: 0.2s ease all;
  border-radius: 0 !important;
  margin-right: 10px;
  background: transparent;
  padding-right: 20px;
  padding-left: 20px;
}
.added-margin:hover {
  box-shadow: 0 0 0 1px $color-ratoong-blue-43 !important;
  background: transparent;
  color: $color-ratoong-blue-43;
}

.region-tick{
  position: absolute;
  top: -1px;
  right: -1px;
  height: 90%;
}

.uppercase{
  font-size: 1.7em;
  text-transform: uppercase;
}

.optional-text{
  font-weight: 400;
  margin-left: 5px;
}

.select-button{
  padding: 10px 55px;
  font-size: 1.2rem;
  border-radius: 0;
}

.most-important-data{
  display: flex;
  flex-flow: row;
  margin: 5px 0 35px 0;
}

.most-optional-data{
  display: flex;
  flex-flow: row;
  width: 100%;
}

.rating-text{
  margin-top: 20px;
}

.table th, .table td {
  padding: 0.5rem 0.75rem !important;
}
