<header>
  <app-navbar></app-navbar>
</header>

<div role="main" class="bg-image-search"></div>
<div class="row">
  <div class="loader" *ngIf="isLoading"></div>
  <div class="col-md-10 offset-md-1" *ngIf="!isLoading">
    <div class="details-container">
      <div class="flex-container">
          <ul class="list-group dropdown-list">
            <div class="btn-group " ngbRadioGroup name="radioBasic" [(ngModel)]="selectedResort">
            <ngb-accordion [closeOthers]="true">
              <ngb-panel  *ngFor="let locations of locationSummaryList ; index as i" id="static-{{i}}">
                <ng-template ngbPanelTitle>
                  {{locations?.name}}
                  <span class="badge badge-primary badge-pill">Towns: {{locations?.ResortList.length}}</span>
                </ng-template>
                <ng-template style="  padding: 10px 0 !important;" ngbPanelContent>
                  <div class="inner-card">
                    <label ngbButtonLabel class="btn-light" *ngFor="let resorts of locations.ResortList">
                      <input ngbButton type="radio" value="{{resorts.id}}"> {{resorts.name}}
                    </label>
                  </div>
                </ng-template>
              </ngb-panel>
            </ngb-accordion>
            </div>
          </ul>
        <div class="form-group">
          <label>Age</label>
          <select [(ngModel)]='ageSelect' class="form-control profile-select">
            <option value="None">All Ages</option>
            <option value="18-25">18-25</option>
            <option value="26-35">26-35</option>
            <option value="36-45">36-45</option>
            <option value="46-55">46-55</option>
            <option value="55-100">55-100</option>
          </select>
        </div>
        <div class="form-group slight-margin-right max-width">
          <label>GENDER</label>
          <select [(ngModel)]='genderSelect'  class="form-control profile-select">
            <option value="None">All Genders</option>
            <option value="male">MALE</option>
            <option value="female">FEMALE</option>
            <option value="donttell">DON'T WANNA TELL</option>
          </select>
        </div>
        <div class="form-group max-width">
          <label>COUNTRY</label>
          <select [(ngModel)]='countrySelect' class="form-control profile-select">
            <option value="None">All Countries</option>
            <option *ngFor="let country of  listOfCountries| async" [ngValue]="country.name">
              {{ country.name }}
            </option>
          </select>
        </div>
        <app-summary-calendar (startDate)="modifyStartDate($event)" (endDate)="modifyEndDate($event)"></app-summary-calendar>
        <button type="button" [disabled]="selectedResort === null" class="btn btn-primary" (click)="getInfo()">Primary</button>
      </div>
    </div>
  </div>
</div>


<footer class="footer bg-dark fixed-bottom">
  <app-footer></app-footer>
</footer>
