<header>
  <app-navbar></app-navbar>
</header>

<div role="main" class="bg-image-search"></div>
<div class="row">
  <div class="loader" *ngIf="isLoading"></div>
  <div class="col-md-10 offset-md-1" *ngIf="!isLoading">
    <div class="details-container">
      <div class="flex-container">
        <div class="important-search">
          <div class="form-group max-width">
            <select [(ngModel)]='selectedResort' class="form-control profile-select">
              <option value="default" disabled>Select Town</option>
              <option *ngFor="let town of  locationSummaryList" [ngValue]="town.id">
                {{ town.name }}
              </option>
            </select>
          </div>
        <app-summary-calendar (startDate)="modifyStartDate($event)" (endDate)="modifyEndDate($event)"></app-summary-calendar>
        </div>
        <div class="optional-search">
        <div class="form-group">
          <select [(ngModel)]='ageSelect' class="form-control profile-select">
            <option value="None">All Ages</option>
            <option value="18-25">18-25</option>
            <option value="26-35">26-35</option>
            <option value="36-45">36-45</option>
            <option value="46-55">46-55</option>
            <option value="55-100">55+</option>
          </select>
        </div>
        <div class="form-group slight-margin-right max-width">
          <select [(ngModel)]='genderSelect'  class="form-control profile-select">
            <option value="None">All Genders</option>
            <option value="male">MALE</option>
            <option value="female">FEMALE</option>
            <option value="donttell">DON'T WANNA TELL</option>
          </select>
        </div>
        <div class="form-group max-width">
          <select [(ngModel)]='countrySelect' class="form-control profile-select">
            <option value="None">All Countries</option>
            <option *ngFor="let country of  listOfCountries| async" [ngValue]="country.name">
              {{ country.name }}
            </option>
          </select>
        </div>
        <button type="button" [disabled]="selectedResort === 'default'" class="btn btn-primary" (click)="getInfo()">Display</button>
        </div>
      </div>
    </div>
    <div class="details-container" *ngIf="statistics| async">
      <app-summary-gender [genderData]="locationSummaryList" ></app-summary-gender>
    </div>
    <div class="details-container" *ngIf="statistics| async">
      <app-summary-rating-table [ratings]="locationSummaryList" ></app-summary-rating-table>
    </div>
    <div class="details-container" *ngIf="statistics| async">
      <app-summary-type [types]="locationSummaryList" ></app-summary-type>
    </div>
    <div class="details-container" *ngIf="statistics| async">
      <app-summary-preferences [preferences]="locationSummaryList" ></app-summary-preferences>
    </div>
  </div>
</div>


<footer class="footer bg-dark fixed-bottom">
  <app-footer></app-footer>
</footer>
