<div style="display: block;">
  <canvas baseChart
          [datasets]="holidayTypeData"
          [options]="radarChartOptions"
          [labels]="holidayTypeLabels"
          [chartType]="radarChartType">
  </canvas>
</div>

<div style="display: block;">
  <canvas baseChart
          [datasets]="skillData"
          [options]="radarChartOptions"
          [labels]="skillLabels"
          [chartType]="radarChartType">
  </canvas>
</div>

<div style="display: block;">
  <canvas baseChart
          [datasets]="timeData"
          [options]="radarChartOptions"
          [labels]="timeLabels"
          [chartType]="radarChartType">
  </canvas>
</div>
