<header>
  <app-navbar></app-navbar>
</header>
<div class="bg-image-search"></div>
<div *ngIf="user" class="main">
  <div class="container details-container">
    <div class="row">
      <div style="align-items: flex-start; justify-content: space-between" class="col">
        <div class="d-flex flex-column details-container">
          <span>Name: <i>{{user.firstname}}</i></span>
          <span>Last Name: <i>{{user.surname}}</i></span>
          <span>ID: <i>{{user.uid}}</i></span>
          <span>Country: <i>{{user.country}}</i></span>
          <span>Gender: <i>{{user.gender}}</i></span>
          <span>Email: <i>{{user.email}}</i></span>
        </div>
      </div>
      <div style="align-items: flex-end; justify-content: space-between" class="col">
        <table style="margin: 0;" class="table table-striped">
        <thead>
        <tr>
          <th *ngIf="user.preferences.skillLevel != ''" scope="col">Skill level</th>
          <th *ngIf="user.preferences.snowboarder != ''"scope="col">Snowboarder</th>
          <th *ngIf="user.preferences.skier != ''" scope="col">Skier</th>
          <th *ngIf="user.preferences.holidayType != ''" scope="col">Holiday type</th>
          <th *ngIf="user.preferences.tripCount != ''" scope="col">Trip count</th>
        </tr>
        </thead>
          <tbody>
            <tr>
              <th *ngIf="user.preferences.skillLevel != ''" >{{user.preferences.skillLevel}}</th>
              <th *ngIf="user.preferences.snowboarder != ''">{{user.preferences.snowboarder}}</th>
              <th *ngIf="user.preferences.skier != ''">{{user.preferences.skier}}</th>
              <th *ngIf="user.preferences.holidayType != ''">{{user.preferences.holidayType}}</th>
              <th *ngIf="user.preferences.tripCount != ''">{{user.preferences.tripCount}}</th>
            </tr>
          </tbody>
        </table>
        <div style="width: 100%" class="d-flex flex-column details-container">
          <span>Source: <i>{{user.source}}</i></span>
          <span>Last login: <i>{{user.lastLogin | date:'dd/MM/yyyy'}}</i></span>
          <span>Last changes: <i>{{user.lastChanges | date:'dd/MM/yyyy'}}</i></span>
        </div>
      </div>
    </div>
  </div>
</div>

<footer class="footer bg-dark fixed-bottom">
  <app-footer></app-footer>
</footer>
