<header>
  <app-navbar></app-navbar>
</header>
<div class="bg-image-search"></div>
<div *ngIf="resort" class="main">
  <div class="container details-container">
    <div style="padding-top: 15px; padding-bottom: 15px" class="row">
    <div style="align-items: flex-start; justify-content: space-between" class="col">
      <div class="d-flex flex-column align-items-lg-start">
        Airports
        <table style="margin: 10px 10px 10px 0" class="table table-striped">
          <thead>
          <tr>
            <th scope="col" >#</th>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">Country</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let airport of resort.Airports; let i = index">
            <td>{{i+1}}</td>
            <td>{{airport.name}}</td>
            <td>{{airport.city}}</td>
            <td>{{airport.country}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
      Pistes
    <div style="margin: 10px 10px 10px 0" class="row details-container">
      <div class="col align-items-start">
        <span>Easy</span>
        <span>Medium</span>
        <span>Hard</span>
        <span style="white-space: nowrap">Off-piste</span>
      </div>
      <div  class="col align-items-start">
        <i class="fas fa-sort-amount-up-alt"></i>
        <span style="background: #4783c3" class="dot"></span>
        <span style="background: #ae5c3c" class="dot"></span>
        <span style="background: #1c1a1a" class="dot d-flex justify-content-center align-items-center"><i style="color: white; font-size: 17px" class="fas fa-skull"></i></span>
        <span style="background: #aea83c" class="dot"></span>
      </div>
      <div class="col align-items-start">
        <span>{{resort.ThePiste[1].km}}<span *ngIf="resort.ThePiste[1].km==''">0</span>km</span>
        <span>{{resort.ThePiste[2].km}}<span *ngIf="resort.ThePiste[2].km==''">0</span>km</span>
        <span>{{resort.ThePiste[0].km}}<span *ngIf="resort.ThePiste[0].km==''">0</span>km</span>
        <span>{{resort.ThePiste[3].km}}<span *ngIf="resort.ThePiste[3].km==''">0</span>km</span>
      </div>
    </div>
      </div>
    </div>
    <div style="justify-content: space-between; align-items: flex-end" class="col">
      <div style="margin: 0 0 15px; width: 75%" class="d-flex flex-column justify-content-center align-items-center details-container">
      <div class="d-inline-flex">
        <h1 class="text-nowrap">{{resort.CityName}}</h1>
        <h2>{{resort.CountryName}}</h2>
      </div>
      <div class="d-inline-flex">
        {{resort.Website}}
      </div>
    </div>
      <div style="width: 75%">
        Elevation [m]
      <div style="margin: 10px 10px 10px 0" class="details-container">
        <div class="row">
          <div class="col"><i style="transform: rotate(180deg)" class="fas fa-sort-amount-down"></i></div>
          <div class="col"><i style="transform: rotate(180deg)" class="fas fa-sort-amount-up"></i></div>
        </div>
        <div class="row">
          <div class="col">{{resort.ElevationInfo.max}}</div>
          <div class="col">{{resort.ElevationInfo.min}}</div>
        </div>
      </div>
      </div>
      <div style="width: 75%">
      Coordinates [°]
      <div style="margin: 10px 10px 10px 0" class="details-container">
        <div class="row">
          <div class="col text-center"><i class="fas fa-arrows-alt-v"></i></div>
          <div class="col text-center"><i class="fas fa-arrows-alt-h"></i></div>
        </div>
        <div class="row">
          <div class="col text-center">{{resort.Latitude}}</div>
          <div class="col text-center">{{resort.Longitude}}</div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
<footer class="footer bg-dark fixed-bottom">
  <app-footer></app-footer>
</footer>
