@import "./src/styles";
.main{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  height: 100%;
}
td, th{
  color: white;
  font-size: 0.75em;
}
.details-container {
  font-family: "Oswald";
  font-weight: 300 ;
  margin: 20px;
  padding: 1em 2em;
  border: 1px solid $color-light-gray-83;
  background-color: rgb(43, 60, 74, 0.8);
}
h1, h2{
  padding: 10px;
  margin-bottom: 0;
}
.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.dot {
  height: 25px;
  width: 25px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin: 5px;
}
