<header>
  <app-navbar></app-navbar>
</header>
<div class="bg-image-search"></div>
<div *ngIf="resort" class="main">
  <div class="container details-container">
    <div class="row">
    <div class="col">
      <div>
        Airports
        <table class="table table-striped">
          <thead>
          <tr>
            <th scope="col" >#</th>
            <th scope="col">Name</th>
            <th scope="col">City</th>
            <th scope="col">Country</th>
          </tr>
          </thead>
          <tbody>
          <tr *ngFor="let airport of resort.Airports; let i = index">
            <td>{{i+1}}</td>
            <td>{{airport.name}}</td>
            <td>{{airport.city}}</td>
            <td>{{airport.country}}</td>
          </tr>
          </tbody>
        </table>
      </div>
      <div>
      Pistes
    <div style="margin: 0" class="row details-container">
      <div class="col align-items-start">
        <span>Easy</span>
        <span>Medium</span>
        <span>Hard</span>
        <span style="white-space: nowrap">Off-piste</span>
      </div>
      <div style="padding: 0" class="col align-items-start">
        <i class="fas fa-sort-amount-up-alt"></i>
        <span style="background: #42A948" class="dot"></span>
        <span style="background: #a96f42" class="dot"></span>
        <span style="background: #a94242" class="dot"></span>
        <span style="background: #1c1a1a" class="dot"></span>
      </div>
      <div class="col align-items-start">
        <span>{{resort.ThePiste[1].km}}km</span>
        <span>{{resort.ThePiste[2].km}}km</span>
        <span>{{resort.ThePiste[0].km}}km</span>
        <span>{{resort.ThePiste[3].km}}km</span>
      </div>
    </div>
      </div>
    </div>
    <div class="col">
      <div class="d-inline-flex">
        <h1>{{resort.CityName}}</h1>
        <h2>{{resort.CountryName}}</h2>
      </div>
      <div class="d-inline-flex">
        {{resort.Website}}
      </div>
      <div>
        Elevation
      <div style="margin: 0" class="details-container">
        <div class="row">
          <div class="col"><i class="fas fa-sort-amount-up-alt"></i></div>
          <div class="col"><i class="fas fa-sort-amount-down-alt"></i></div>
        </div>
        <div class="row">
          <div class="col">{{resort.ElevationInfo.max}}</div>
          <div class="col">{{resort.ElevationInfo.min}}</div>
        </div>
      </div>
      </div>
      <div>
      Coordinates
      <div style="margin: 0" class="details-container">
        <div class="row">
          <div class="col text-center"><i class="fas fa-arrows-alt-v"></i></div>
          <div class="col text-center"><i class="fas fa-arrows-alt-h"></i></div>
        </div>
        <div class="row">
          <div class="col text-center">{{resort.Latitude}}</div>
          <div class="col text-center">{{resort.Longitude}}</div>
        </div>
      </div>
      </div>
    </div>
  </div>
</div>
</div>
<footer class="footer bg-dark fixed-bottom">
  <app-footer></app-footer>
</footer>
