.ratoong-btn {
  font-size: 23px;
  padding: 0.5em 0.7em;
  background-color: #35a0a8;
  border: none;
  color: #FAFDFF;
  cursor: pointer;
  margin: 0.5em;
  line-height: 2em;
  width: 414px;
  max-width: 100%;
  border-radius: 0;
}
.form-control {
  border-radius: 0;
}
